[Desktop Entry]
Comment=Continous horizontall image scrolling gallery.
Name=slyde

[X-HTMLExport Author]
Name=Ilya Sukhanov
Url=http://sukhanov.net

[X-HTMLExport Preview]
Name=Details screenshot
Url=preview.png

[X-HTMLExport Options]
Allow non-square thumbnails=true

[X-HTMLExport Parameter galleryName]
Name=Galery Name
Type=String
Default=Gallery

[X-HTMLExport Parameter maxHeight]
Name=Image max height
#Using string instead of int because Default > 99 doesn't work
Type=String
Default=800

[X-HTMLExport Parameter maxWidth]
Name=Image max width
#Using string instead of int because Default > 99 doesn't work
Type=String
Default=1280
